<section class="comment-area">
  <div class="comment-wrapper">
    {% if site.discus_identifier %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
          var d = document, s = d.createElement('script');
          s.src = '//{{ site.discus_identifier }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>



  <div id="container"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({

    owner: 'movingj',              //比如我的叫anTtutu
    repo: 'movingj.github.io',                 //比如我的叫anTtutu.github.io
    oauth: {
      client_id: 'b14fc95fc4e222a8e20d',          //比如我的828***********
      client_secret: '639de17673f198d39d538ffffcc9903866d6eec6',  //比如我的49e************************
    },
  })
  gitment.render('container')
  </script>



</section> <!-- End Comment Area -->
