
<header id="header" class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul>
          <li><a href="{{site.baseurl}}/">首页</a></li>
          <!-- <li><a href="{{site.baseurl}}/message">留言板</a></li> -->
          <li><a href="{{site.baseurl}}/about">关于我</a></li>
          <li><a href="#">文章</a></li>
 
        
        </ul>
            <el-menu
            default-active="2"
            class="el-menu-vertical-demo"
            @select="handleSelect">
            <el-submenu index="1">
              <template slot="title">
               
                <span>所有分类</span>
              </template>
              <el-menu-item-group>
                <!-- <template slot="title">分组一</template> -->
                {% for category in site.tags %}
               
                <el-menu-item index="{{site.baseurl}}/tag/{{ (category | first)   }}" > {{site.baseurl}}/tag/{{ (category | first)   }}</el-menu-item>
               
                {% endfor %}
         
        
              </el-menu-item-group>
            </el-submenu>
            </el-menu>
    
  
 
      </nav>

      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
        <span class="search-icon"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->

<script>
  new Vue({
      el: '#header',
      methods:{
        handleSelect(key, keyPath) {
         
         location.href=keyPath[1];
        }
      }
  })

</script>

